[submodule "themes/zola-theme-mikoto"]
	path = themes/zola-theme-mikoto
	url = https://github.com/TwIStOy/zola-theme-mikoto.git
[submodule "themes/simple-dev-blog"]
	path = themes/simple-dev-blog
	url = https://github.com/TwIStOy/simple-dev-blog-zola-starter.git
