{% extends "includes/layout.html" %}
{% import "macros.html" as post_macros %}
{% import "includes/aside_macros.html" as aside_macros %}

{% block article %}

  <div id="Tags">
    <h1>Categories</h1>
    {% if terms | length > 0 %}
    <ul class="category-list" itemprop="keywords">
      {% for tag in terms %}
      <li class="category-list-item">
        <a class="category-list-link" href="{{ tag.permalink }}">{{ tag.name }}</a>
        <span class="category-list-count">{{ tag.pages | length }}</span>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>None.</p>
    {% endif %}
  </div>

{% endblock %}

