{% extends "includes/layout.html" %}
{% import "macros.html" as post_macros %}
{% import "includes/aside_macros.html" as aside_macros %}

{% block article %}

<div id="archive-flex">
  <div id="Archives">
    <h1>Category: {{ term.name }}</h1>
    <div id="Archives-bg">
      {% for page in term.pages %}
      <div class="category-item">
        <time datetime={{ page.date }}>{{ page.date | date(format="%b %d, %Y") }}</time>
        <a href="{{ page.permalink }}">{{ page.title }}</a>
      </div>
      <br class="clear">
      {% endfor %}
    </div>
  </div>
  {{ aside_macros::archive_aside(pages=term.pages) }}
</div>

{% endblock %}

